body{
	padding: 0;
	margin:0;
	overflow-x: hidden;
	font-size: 1em;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	transition: 0.7s;
	background-color: white;
	font-size: 18px;
}

#logotexto{
	width: 115px;
	font-weight: bold;
	background-color: purple;
	color:white;
	padding: 5px;
	text-align: center;
	display: none;
}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo{	
	width: 250px;
	height: 109px;
}

#menu{
	margin-left: -20px;
}

header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	list-style: none;

}

header ul li a{
	position: relative;
	padding: 15px;
	text-decoration: none;
	color: purple;
	font-weight: bold;
}

header ul li a:hover{
	text-decoration: none;
	padding: 15px;
	font-weight: bold;
	border-bottom: 2px solid purple;
}

/*
header{
	position: relative;
	margin:auto;
	width: 80%;	
}

#logo{	
	float: left;
	width: 250px;
	height: 109px;
}

#menu{
	float: right;
	overflow: hidden;
}

#menu ul{
	list-style-type: none;
	line-height: 60px;
	
}

#menu ul li{	
	float: left;	
}

#menu ul li a{	
	text-decoration: none;
	padding: 15px;
	color: purple;
	font-weight: bold;
}

#menu ul li a:hover{
	text-decoration: none;
	padding: 15px;
	font-weight: bold;
	border-bottom: 2px solid purple;
}

*/



section{	
	clear: both;
	margin-top:120px;
	width: 100%;
	display: flex;	
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h2{
	text-align: center;
}

#banner1{
	width: 88%;
}

#container-w{
	width: 100%;
	text-align: center;	
	overflow: hidden;
	border-bottom: 1px solid #dddddd;
	padding-top: 15px;
	padding-bottom: 15px;
}

#container-f{
	width: 100%;
	text-align: center;	
	overflow: hidden;
	border-bottom: 1px solid #dddddd;
	padding-top: 15px;
	padding-bottom: 15px;
}

#container-p{
	width: 100%;
	text-align: center;	
	overflow: hidden;
	border-bottom: 1px solid #dddddd;
	padding-top: 15px;
	padding-bottom: 15px;
}

.columnas{
	width: 100%;
	display: flex;	
	justify-content: space-evenly;
	text-align: justify;	
}

.columna{
	display: flex;
	width: 40%;
}

.columna-sola{
	display: flex;
	width: 87%;
}

/* boton arriba*/
#goTop{
	width: 50px;
	height: 50px;
	background-color: rgb(187,187,187);	
	color: white;
	display: flex;
	justify-content: center;/*centra horizontal*/
	align-items: center;/*centra vertical*/
	font-size: 30px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	transition:0.3s ease;
}

#goTop:hover{
	background-color: purple;
}

html{
	scroll-behavior: smooth;
}
/*fin boton arriba*/

footer{
	clear: both;
	width: 100%;
	background-color: #222222;
	color:#dddddd;
	padding: 15px;
	text-align: center;
}

footer a{
	color:white;
	cursor:pointer;
	text-decoration: none;
}

footer a:hover{
	color:purple;
	cursor:pointer;
}

@media (max-width: 880px){

	body{
		font-size: 0.8em;
	}

	#logotexto{
		display: initial;
	}

	#logo{
		/*
		width: 180px;
		height: 90px;
		margin-left: 40px;
    	margin-top: 15px;
    	*/
    	display: none;
	}

	header, div#logo{
		height: 60px;
		background-color: rgb(187,187,187);	
	}

	header ul li a{
		padding: 10px;
	}

	header ul li a:hover{
		padding: 10px;
		text-shadow: 0px 0px 7px #fff;
	}

	#menu{
		/*transform: translateX(-175px);*/
		margin: 0px auto;

	}

	section{
		margin-top:70px;
	}
	
}

@media (max-width: 610px){

	#logotexto{
		display: none;
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		width: 100%;
	}

	header, div#logo{
		height: 160px;
	}

	header ul li{
		margin-left: -60px;
		margin-bottom: 10px;
	}

	header ul li a{			
		padding: 10px;
	}

	header ul li a:hover{
		padding: 10px;
	}

	section{
		margin-top:170px;
	}
}